body{
  text-align: center;
  background-image: linear-gradient(to bottom right,blue, pink);
  background-repeat: no-repeat;
  height: 85vh;
}
.main{
    margin: 0 auto;
    background-color: rgba(38, 35, 35, 0.6);
    height: 60vh;
    width: 450px;
    border-radius: 90%;
}
h1{
  margin-top: 90px;
  font-size: 4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px blue;
}

h2{
  display: inline-block;
  margin-top: 90px;
  font-size: 4em;
  width: 50px;
}
button{
  margin-top: 15px;
  font-size: 1em;
  margin-left: 13px;
  border-radius: 10px ;
  width: 22%;
  height: 40px;
  color: white;
  background-color: royalblue;
  text-transform: uppercase;
}
button:hover{
  background-color: rgb(52, 70, 201);
}

